{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div>
        To access the database, I need you to be logged in with a unique username.<br> 
        If you don't have a username, please <a href="/register"> register.</a>
    </div>
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}
